/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@font-face {
    font-family: Play;
    src: url("C:\fonts\Play\Play-Regular.ttf") format("opentype");
}

@font-face {
  font-family: PlayBold;
  font-weight: bold;
  src: url("C:\fonts\Play\Play-Bold.ttf") format("opentype");
}


.article{
  justify-content: center;
  align-items: center;
}

.nameTitle{
  font-size: 8em;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px gray;
  font-family: Play;
  color:white
 
}

.nameTitle span{
  border-bottom: dotted black 3px;
  margin-bottom: 30px;
}


.quickDescription{
    border:solid gray 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    margin:2%;
    color: white;
    background-color: rgba(0,0,0,.7);
    
    
}

.homePicture{
  border: solid gray 2px;
  border-radius: 5px;
  margin:2%;
}
.homePicture img{
    width:100%;
}