.nav{
    justify-content: space-evenly;
    align-items: center;
   
     
}

.header{
    background-color: rgba(34, 34, 57, .5);
    font-family: "Lucida Console", "Courier New", monospace;
    position: fixed;
    width: 100%;
}

img{
    width:120px;
}

.headerTitle{
    align-items: center;
    justify-content: center;
    
}

.link{
    color:white;
    text-decoration: none;
}

.link:hover{ 
    border-bottom: solid white 2px;
}


