.nav{
    justify-content: space-evenly;
    align-items: center;
   
     
}

.header{
    background-color: rgb(34, 34, 57);
    font-family: "Lucida Console", "Courier New", monospace;
    color:white;
}

img{
    width:120px;
}

.headerTitle{
    align-items: center;
    justify-content: center;
    
}
.headerTitle span:hover{
    border-bottom: solid white 2px;
}