body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-image: url("./pages/images/BackGround.jpg");
  color:white;
}


.flex{display: flex;}
.flex.right{justify-content: right;}
.flex.center{justify-content: center;}
.flex.left{justify-content: left;}
.flex.top{align-items: start;}
.flex.middle{align-items: center};
.flex.bottom{align-items: end;}


.x1{flex:1;}
.x2{flex:2;}
.x3{flex:3;}
.x4{flex:4;}
.x5{flex:5;}
.x6{flex:6;}
.x7{flex:7;}
.x8{flex:8;}

.container{
  padding-top: 90px;
}

img{
  width: 100%;
}






/*Header.js*/
.nav{
  justify-content: space-evenly;
  align-items: center;
 
   
}

.header{
  background-color: rgba(34, 34, 57, .5);
  font-family: "Lucida Console", "Courier New", monospace;
  position: fixed;
  width: 100%;
}

.headerPic img{
  width:120px;
}

.headerTitle{
  align-items: center;
  justify-content: center;
  
}

.link{
  color:white;
  text-decoration: none;
}

.link:hover{ 
  border-bottom: solid white 2px;
}







/*Home*/
/*this doesn't work on school mac */
/*@font-face {
  font-family: Play;
  src: url("C:\fonts\Play\Play-Regular.ttf") format("opentype");
}

@font-face {
font-family: PlayBold;
font-weight: bold;
src: url("C:\fonts\Play\Play-Bold.ttf") format("opentype");
}*/


.article{
justify-content: center;
align-items: center;
}

.nameTitle{
font-size: 8em;
justify-content: center;
align-items: center;
text-shadow: 5px 5px gray;
font-family: Play;
color:white;

}

.nameTitle span{
border-bottom: dotted black 3px;
margin-bottom: 30px;
}


.quickDescription{
  border:solid gray 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
  margin:2%;
  color: white;
  background-color: rgba(0,0,0,.7);
  
  
}

.homePicture{
border: solid gray 2px;
border-radius: 5px;
margin:2%;
}
.homePicture img{
  width:100%;
}







/*GoFundMe*/

.funFact{
  justify-content: center;
  font-size: 2em;
  font-size: 4em;
  align-items: center;
  text-shadow: 5px 5px gray;
  font-family: Play;
  color:white;

}

.quickFunFact{
  border:solid gray 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
  margin:2%;
  color: white;
  background-color: rgba(0,0,0,.7);
}

.arrow{
  font-size: 8em;
  align-items: center;
  justify-content: center;

}

#gofundmelink {
  font-size: 4em;
  justify-content: center;
 
}
#gofundmelink .link {
  margin-bottom:2px;
}

#gofundmelink .link:hover{
  margin-bottom: 0px;
}



/*Progects.jsx*/
.LinkToGit a {
  color:white;
  text-decoration: none;
}

.LinkToGit a span{
  border-bottom: solid white 2px;
  padding-bottom: 1px;
}

.LinkToGit :hover{
  color:gray;
  border-color: gray;
}

.TitleOfProject{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 3em;
  text-align: center;
}

.PaddingShovePastHeader{
  padding-top:100px;
}

.ReadMe{
  font-family: "Lucida Console", "Courier New", monospace;
  margin:3em;
  text-align: center;
  font-size: 1em;
  border:solid gray 2px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.7);
  padding: 1em;
}

.projectSection{
  padding: 1em;
  margin-bottom:2em;
}
/*
.borderBottomProject{
  margin-right: 2em;
  margin-left: 2em;
  border-bottom: dashed gray 2px;
}*/
.borderBottomProject{
  text-align: center;
  color: gray;
  font-size: 1.5em;
}